{% extends 'portfolio/base.html' %}

{% block title %}Contact Us - My Resume Portfolio{% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/resume.css' %}">

 {% comment %} <!DOCTYPE html> {% endcomment %}
{% comment %} <html lang="en"> {% endcomment %}
<head>
    {% comment %} <meta charset="UTF-8"> {% endcomment %}
    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    <title>Resume Download Page</title>
</head>
<main class="resume-body">
    <section class="header">
        <h1>Resume</h1>
        <p>Click the button below to download the most recent version of my resume.<br>
        Additional Details on <a href="https://www.linkedin.com/in/prince-kumar-23pri/">LinkedIn</a>.</p>
        <button onclick="window.location.href='{% static 'files/Prince_Kumar_resume.pdf' %}'">Download Resume</button>
        </section>
    <div class="pdf-viewer">
        <iframe src="{% static 'files/Prince_Kumar_resume.pdf' %}" width="100%" height="600px"></iframe>
    </div>
</main>
{% comment %} </html> {% endcomment %}

{% endblock %}

