/* General Styling */
body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    color: #333;
  
    
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

/* Header */
header {
    color: #ffffff;
    padding: 20px 0px;
    text-align: center;
}

.header-content h1 {
    font-size: 50px;
    color:white;
}

.header-content p {
    font-size: 25px;
    color:white;
}

/* Header Strip */
.nav-strip {
    background-color: #ffffff; /* Strip color should be white */
    color: #394032; /* Inside header strip font color */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px 0;
    width: 100vw;
    max-width: 100vw; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* padding: 0px 4rem; */
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #394032;
    text-decoration: none;
    font-size: 1em;
    /* font-weight: bold; */
}

nav ul li a:hover {
    text-decoration: underline, black;
}

/* Separator Section */
.separator-section {
    background-color: #f0f0f0; /* Background color of the separator */
    height: 10px; /* Height of the separator section */
    width: 100%;
    box-shadow: inset 0 -1px 0 #ddd; /* Light bottom border */
}

/* Header Transition on Scroll */
#main-header {
    background-color: #394032;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

#main-header.scrolled {
    background-color: #ffffff;
    color: #394032;
}

#main-header.scrolled .nav-list li a {
    color: #394032;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    color: #394032;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
    
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p {
    margin: 0;
}

.footer-section a {
    color: #394032;
    text-decoration: none;
}

.social-icons {
    display: flex;
    align-items: center;
}

.footer-section .aaa {
     align-items: start; 
    padding-left: 0%;
}

 .social-icons a {
     margin: 0;
} 

.social-icons img {
    width: 24px;
    height: 24px;
}

.logo {
    width: 30px;
    height: auto;
}
.nav-list > li:nth-last-of-type(even) {
    font-size: 20px;
}

/* Add left padding to the first .footer-section only */
.footer-section:first-child {
    padding-left: 135px; /* Adjust this value as needed */
}
